/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     padding: 20px;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

p.active {
    color: #1f6ddd;
}

/* My CSS */
.btn-circle {
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 75px;
          }
.btn-circle.btn-xl {
    width: 150px;
    height: 150px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 75px;
    }

body {
  /*  background: url("https://cdn.designbeep.com/wp-content/uploads/2013/04/18.lined-paper-texture.jpg") */
	background: url('../lined-paper-texture.jpg')
}

.row {
    margin-top: 80px;
}

#start-button {
    margin-top: 10px;
}

#login-form {
    display:none;
}

/*
.container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
}

.row-fluid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.centering {
    float: none;
    margin: 0 auto;
}
    */
