.view .date-nav-wrapper ul.pager{
    overflow: visible;
}
.view .date-nav-wrapper .date-prev  {
    background: none;
    top: -57px;
    float: left;
    text-align: left;
    left: 0;
}


.view .date-nav-wrapper .date-next {
    background: none;
    top: -79px;
}


.view .date-nav-wrapper .date-next a{
    background: none;
    border: none;
    padding: 0;
}


.view .date-nav-wrapper .date-prev a{
    background: none;
    border: none;
    padding: 0;
}
